/*  your css code here. If applicable */
 #loading {
      display: none;
      font-weight: bold;
      color: blue;
    }
    #error {
      color: red;
      font-weight: bold;
    }
    #output img {
      max-width: 150px;
      margin: 5px;
      border: 2px solid #ccc;
      border-radius: 6px;
    }
	button{
		padding:10px 20px;
		background-color:teal;
		color:white;
		border:none;
		font-weight:500;
		margin-bottom:10px;
	}